#container {
    width: 600px;
    height: 600px;
    border: 2px solid black;

    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}

#inputs {
    display: flex;
    justify-self: center;
    margin: 30px;
    gap: 15px;
}

.gridPixel {
    box-sizing: border-box;
    border: 0.25px solid grey;
}
